In [46]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import sparse

from sklearn.metrics.pairwise import pairwise_distances, cosine_similarity, cosine_distances

In [36]:
poetry_1 = pd.read_json('./Dataset/goodreads_books_poetry.json', lines=True)

poetry_1.drop(columns=['isbn', 'series', 'kindle_asin', 'asin', 'is_ebook', 'edition_information', 'publication_year', 'url', 'image_url', 'format', 'link', 'publisher', 'publication_day', 'isbn13', 'publication_month', 'work_id'], inplace=True)

poetry_1.head()

,text_reviews_count,country_code,language_code,popular_shelves,average_rating,similar_books,description,authors,num_pages,book_id,ratings_count,title,title_without_series
0,1,US,eng,"[{'count': '8', 'name': 'to-read'}, {'count': ...",3.83,[],Number 30 in a series of literary pamphlets pu...,"[{'author_id': '15585', 'role': ''}]",80,16037549,3,Vision of Sir Launfal and Other Poems,Vision of Sir Launfal and Other Poems
1,2,US,,"[{'count': '100', 'name': 'to-read'}, {'count'...",3.83,[],Fairy Tales gathers the unconventional verse d...,"[{'author_id': '16073', 'role': ''}, {'author_...",128,22466716,37,Fairy Tales: Dramolettes,Fairy Tales: Dramolettes
2,7,US,,"[{'count': '32', 'name': 'to-read'}, {'count':...",4.38,[],Three poems describe the nighttime adventures ...,"[{'author_id': '18540', 'role': ''}, {'author_...",,926662,45,Growltiger's Last Stand and Other Poems,Growltiger's Last Stand and Other Poems
3,12,US,,"[{'count': '554', 'name': 'to-read'}, {'count'...",3.71,"[1230072, 315167, 676169, 18522, 124335, 88263...",A modern verse play about the search for meani...,"[{'author_id': '18540', 'role': ''}]",190,926667,115,The Cocktail Party,The Cocktail Party
4,4,US,eng,"[{'count': '228', 'name': 'to-read'}, {'count'...",5.00,"[25869488, 23630890, 25448131, 25464039, 42166...",Louder Than Everything You Love is about trans...,"[{'author_id': '14308759', 'role': ''}]",118,29065952,9,Louder Than Everything You Love,Louder Than Everything You Love

In [38]:
for index in poetry_1.index:
    author_id = poetry_1['authors'][index][0]['author_id']
    poetry_1['authors'][index] = author_id

poetry_1.head()

/var/folders/5h/l2b3kn4j69bgsb2rqd8vqlw00000gn/T/ipykernel_15725/1682280353.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poetry_1['authors'][index] = author_id

,text_reviews_count,country_code,language_code,popular_shelves,average_rating,similar_books,description,authors,num_pages,book_id,ratings_count,title,title_without_series
0,1,US,eng,"[{'count': '8', 'name': 'to-read'}, {'count': ...",3.83,[],Number 30 in a series of literary pamphlets pu...,15585,80,16037549,3,Vision of Sir Launfal and Other Poems,Vision of Sir Launfal and Other Poems
1,2,US,,"[{'count': '100', 'name': 'to-read'}, {'count'...",3.83,[],Fairy Tales gathers the unconventional verse d...,16073,128,22466716,37,Fairy Tales: Dramolettes,Fairy Tales: Dramolettes
2,7,US,,"[{'count': '32', 'name': 'to-read'}, {'count':...",4.38,[],Three poems describe the nighttime adventures ...,18540,,926662,45,Growltiger's Last Stand and Other Poems,Growltiger's Last Stand and Other Poems
3,12,US,,"[{'count': '554', 'name': 'to-read'}, {'count'...",3.71,"[1230072, 315167, 676169, 18522, 124335, 88263...",A modern verse play about the search for meani...,18540,190,926667,115,The Cocktail Party,The Cocktail Party
4,4,US,eng,"[{'count': '228', 'name': 'to-read'}, {'count'...",5.00,"[25869488, 23630890, 25448131, 25464039, 42166...",Louder Than Everything You Love is about trans...,14308759,118,29065952,9,Louder Than Everything You Love,Louder Than Everything You Love

In [42]:
#Review dataframe: 
poetry_rev = pd.read_json('./Dataset/goodreads_reviews_poetry.json', lines=True)
poetry_rev.drop(columns=['date_added', 'date_updated', 'read_at', 'started_at', 'n_votes', 'n_comments'], inplace=True)

poetry_rev.head()

,user_id,book_id,review_id,rating,review_text
0,3ca7375dba942a760e53b726c472a7dd,402128,28423ff309bc896c071a8d9df4a10e8a,5,I have three younger siblings and we grew up w...
1,0ef32090550901ead25cb0ea21c4d36b,92270,2db1180992e2b0b1631a3ac5644bde84,5,This is my favorite collection of poetry.
2,0ef32090550901ead25cb0ea21c4d36b,908708,bca57fa40e92c9261b00b03dbebd96fe,4,"He's so disturbing. So very, very disturbing."
3,d37b46b2190ed7c518259f29b47a9b36,253264,cb1ebc02d8b2aff15735d513877463ce,5,I just reread this play for a class I am takin...
4,af157d0205b8a901dee6d4a2aed7e6ad,70885,8dca128b8e869048a7442c18659dbece,5,"Cuanto mas leo, mas me gusta. Su poesia es env..."

In [43]:
#Create pivot table

data = poetry_rev.pivot_table(index = 'book_id', values = 'rating', columns = 'user_id')
data.head()

user_id,000157a6f8331e9c9a21252e1fee91d1,000192962b87d560f00b06fdcbd71681,0004ae25e3cf5f5a44b6f1ccfdd3d343,0006260f85929db85eddee3a0bd0e504,0006a5b8cda1ba6d7b911dc575f6547b,0008e72711d978c23e3aa3bc7ba3871c,00098165da6612b8b26d453fd19bb754,000a1016fda6008d1edbba720ca00851,000adba19f8f49c25017d68c2a55d90f,000c08303ab122db5baf96607bd55054,...,fff7f660fc5277b7c544dd57dbbf95f3,fffba5600c5d01693b75964e7fbe193f,fffbd84c1c89d775d3568a1362db7ed6,fffbdf4175e907f5a0338d7a4a7a8e4e,fffc34d137f5c5c5e1ca1d6f325a4dcf,fffc475c53c2c59e160a4274aec002cf,fffcf6da0f39d7ab624e2a8da054d2c3,fffe3fca0160bd78ae5828b44fbeb72d,fffe68bb5313dd3733d25e3097beedf3,ffff601c0ffa34bd5ffbbf2caee30644
book_id,,,,,,,,,,,,,,,,,,,,,
234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
sparse_data = sparse.csr_matrix(data.fillna(0))

In [45]:
import sys

sys.getsizeof(data), sys.getsizeof(sparse_data)

(13807721712, 48)

## Cosine similarity